h1 {
	background-color: rgb(14, 43, 171);
	text-align: center;
	color: white;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 10px;
}
.columnOne {
	background-color: whitesmoke;
}
.columnTwo {
	background-color: rgb(18, 6, 242);
}
/* Forecast Icon Sizing Properties */
.icons {
	height: 70px;
	width: 70px;
}
/* Weather Card Data Font Size */
.cardTodayDate {
	font-size: 20px;
}
